/*--HEADER --*/
.header {
  background-color: #ffffff;
}

.header .header-list__text--current::after {
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-button-color);
  position: absolute;
  left: 0;
  bottom: -33px;
}

.header .header__container {
  display: flex;
  align-items: center;
  width: 1200px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header .header__container {
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header .header__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .header__container {
    width: 768px;
  }
}

.header .header-connect {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .header-connect {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .header-connect {
    display: block;
  }
}

.header .header-list {
  display: flex;
  margin: 0px;
  margin-left: 93px;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .header-list {
    display: none;
  }
}

.header .logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .header-list__item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 50px;
}

.header .header-list__item:first-child {
  margin-left: 0px;
}

.header .header-list__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header .header-connet__icon {
  fill: currentColor;
  padding: 0px;
  margin-right: 10px;
}

.header .header-connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .header-connect__link:last-child {
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .header-connect__link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14.06/12);
    margin-bottom: 10px;
  }
}

.header .header-connect__link:hover, .header .header-connect__link:focus {
  color: var(--accent-color);
}

.header .header-list__item-text:hover,
.header .header-list__item-text:focus {
  color: var(--accent-color);
}

.header .logo__first {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.header .header-connect__link:hover, .header .header-connect__link:focus {
  color: var(--accent-color);
}

.header .open-menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header .open-menu-btn {
    display: none;
  }
}

.header .open-menu-btn:hover, .header .open-menu-btn:focus {
  color: var(--second-button-color);
  background-color: transparent;
  border: none;
}

.header .open-menu-btn__icon {
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 40px;
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-top {
  margin-top: 48px;
}

.mob-menu-top .mb-menu-list {
  margin-bottom: 30px;
}

.mob-menu-top .mb-menu-list__item {
  margin-bottom: 32px;
}

.mob-menu-top .mb-menu-list__text {
  color: var(--second-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47/40);
  text-align: left;
  letter-spacing: 0.02em;
}

.mob-menu-top .mb-menu-list__text:hover, .mob-menu-top .mb-menu-list__text:focus {
  color: var(--accent-color);
}

.mob-menu-top .mb-menu-list__item:last-child {
  margin-bottom: 0px;
}

.mob-menu-bottom .mb-menu-connect {
  margin-bottom: 64px;
}

.mob-menu-bottom .mb-menu-connect__item {
  margin-bottom: 32px;
}

.mob-menu-bottom .mb-menu-connect__item:last-child {
  margin-bottom: 0px;
}

.mob-menu-bottom .mb-menu-connect__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40/34);
  color: var(--second-text-color);
}

.mob-menu-bottom .mb-menu-connect__link:hover, .mob-menu-bottom .mb-menu-connect__link:focus {
  color: var(--accent-color);
}

.mob-menu-bottom .mb-menu-connect__link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28/24);
  color: var(--second-text-color);
}

.mob-menu-bottom .mob-social-list {
  display: flex;
}

.mob-social-list {
  display: flex;
  margin-bottom: 48px;
}

.mob-social-item {
  display: flex;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-social-item:last-child {
  border-right: none;
}

.mob-social-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22/18);
  color: var(--accent-color);
  margin-right: 10px;
}

.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  justify-content: center;
  color: black;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-menu-btn:hover, .close-menu-btn:focus {
  color: var(--second-button-color);
  background-color: transparent;
  border: none;
}

.close-menu-btn__icon {
  fill: currentColor;
}

/*--HERO--*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../mode-1/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/mode-1/background 2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    background-image: url("/mode-1/background tab.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/mode-1/Header Fon 2x Tablet.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero {
    max-width: 100%;
    background-image: url("/mode-1/background mob.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 479px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/mode-1/Header Fon 2x mb.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: url("/mode-1/background mob.jpg");
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("/mode-1/Header Fon 2x mb.jpg");
  }
}

.hero .hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .hero .hero__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
    height: 84px;
  }
}

.hero .hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  justify-content: center;
  min-height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  color: var(--first-button-color);
  background-color: #2196f3;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
}

.about {
  background-color: #ffffff;
  padding-top: 94px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about .about-list {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about .about-list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about .about-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.about .about-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
  margin: 0 auto;
  margin-right: 30px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about .about-list__item {
    margin-bottom: 30px;
    margin-left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about .about-list__item {
    margin-bottom: 30px;
    margin-left: 0px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about .about-list__item {
    width: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
    margin: 0 auto;
    width: 354px;
  }
}

.about .about-list__item:last-child {
  margin-right: 0px;
}

.about .about-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about .about-list__title {
    text-align: center;
  }
}

.about .about-list__icon {
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about .about-list__icon {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .about .about-list__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about .about-list__icon {
    width: 354px;
  }
}

.about .about-list__item:last-child {
  margin-right: 0px;
}

/*--WORK--*/
.work {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work .work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .work .work__title {
    display: none;
  }
}

.work .work-list {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

@media screen and (max-width: 1199px) {
  .work .work-list {
    display: none;
  }
}

.work .work-list__item {
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .work .work-list__item {
    display: none;
  }
}

.work .work-list__item:last-child {
  margin-right: 0px;
}

.work .work-list__item .work-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  align-items: center;
  color: var(--first-text-color);
}

@media screen and (max-width: 1199px) {
  .work .work-list__item .work-list__text {
    display: none;
  }
}

.work .work-list__item .work-list__box {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .work .work-list__item .work-list__box {
    display: none;
  }
}

/*--COMMAND--*/
.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.command .command__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-text-color);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .command .command__title {
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
  }
}

.command .command-list-box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--second-title-color);
}

.command .command-list {
  display: flex;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .command .command-list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.command .command-list__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 30px;
  align-items: center;
  color: var(--third-text-color);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command .command-list__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .command .command-list__item {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .command .command-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command-list__item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .command .command-list__item:nth-child(2n) {
    margin-right: 0px;
  }
  .command .command-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .command .command-list__item .command-list__icon {
    width: 354px;
  }
}

@media screen and (min-width: 4800px) and (max-width: 767px) {
  .command .command-list__item .command-list__icon {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command .command-list__item .command-list__icon {
    height: 374px;
    width: 354px;
  }
}

.command .command-list__item .command-text {
  font-style: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.command .command-list-box {
  padding: 30px 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .command .command-list-box {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

.command .command-list-social {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.command .command-list-social__item {
  width: 44px;
  height: 44px;
}

.command .command-list-social__item + .command-list-social__item {
  margin-left: 10px;
}

.command .command-list-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command .command-list-social__link:hover, .command .command-list-social__link:focus {
  background-color: var(--second-button-color);
  color: var(--first-button-color);
}

.command .command-list-social__icon {
  fill: currentColor;
}

/*-- clients --*/
.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients .clients-container {
  width: 1200px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients .clients-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .clients-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .clients-container {
    width: 768px;
  }
}

.clients .clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-title-color);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients .clients__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .clients__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
  }
}

.clients .clients-social-list {
  display: flex;
  justify-content: center;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients .clients-social-list {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients .clients-social-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .clients-social-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients .clients-social-list__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients .clients-social-list__item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients .clients-social-list__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .clients .clients-social-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients .clients-social-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients .clients-social-list__item:nth-child(2n) {
    margin-right: 0px;
  }
  .clients .clients-social-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .clients-social-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients .clients-social-list__item:nth-child(3n + 3) {
    margin-right: 0px;
  }
  .clients .clients-social-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.clients .clients-social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
}

.clients .clients-social-list__link:hover, .clients .clients-social-list__link:focus {
  border: 1px solid #2196f3;
  background-color: transparent;
  color: var(--second-button-color);
}

.clients .clients-social-list-item__icon {
  fill: currentColor;
}

/*---CONTACS--*/
.contacs {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacs .tablet-support {
    display: flex;
  }
}

.contacs .contacs-container {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacs .contacs-container {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacs .contacs-container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacs .footer-contacs {
    text-align: center;
    margin-left: 76px;
  }
}

.contacs .contacs__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacs .contacs__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacs .contacs__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
  }
}

.contacs .contacs__text .logo__first {
  color: var(--fourth-text-color);
}

.contacs .contacs__list {
  margin-top: 20px;
}

.contacs .contacs-list__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 9px;
}

.contacs .contacs-list__item:last-child {
  margin: 0px;
}

.contacs .contacs-list__item-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
}

.contacs .contacs-list__item-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: #ffffff;
}

/*--CONNECT--*/
.footer {
  margin-left: 70px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin-left: 0px;
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    text-align: center;
    margin-left: 165px;
  }
}

.footer .footer__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--first-text-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .footer__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .footer__title {
    text-align: center;
  }
}

.footer .footer-list {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.footer .footer-list__item {
  width: 44px;
  height: 44px;
}

.footer .footer-list__item + .footer-list__item {
  margin-left: 10px;
}

.footer .footer-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-list__link:hover, .footer .footer-list__link:focus {
  background-color: var(--second-button-color);
  color: var(--first-button-color);
}

.footer .footer-list__icon {
  fill: currentColor;
}

/*-- MODEL  --*/
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  padding: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #9999;
  border-radius: 50%;
  justify-content: center;
  color: black;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__close:hover, .modal__close:focus {
  color: var(--second-button-color);
  background-color: transparent;
  border: 1px solid #2196f3;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__feeld-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--third-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__feeld {
  margin-bottom: 10px;
}

.modal-form__comment {
  margin-bottom: 20px;
}

.modal-comment__text {
  margin-bottom: 30px;
}

.modal-form__wrap-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__wrap-input:hover, .modal-form__wrap-input:focus {
  border-color: var(--second-button-color);
}

.modal-form__wrap-input:focus + .input-icon {
  fill: var(--second-button-color);
}

.modal-form__wrap-input:hover + .input-icon {
  fill: var(--second-button-color);
}

.modal__button {
  min-height: 50px;
  width: 200px;
  background-color: var(--second-button-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  color: var(--first-button-color);
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
}

.modal-comment__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--third-text-color);
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding: 12px 16px;
  resize: none;
}

.modal-comment__check-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: var(--header-link-color);
  justify-content: center;
}

.modal-comment__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 5px;
  border-radius: 2px;
  justify-content: center;
}

.modal-comment__check:checked + .modal-comment__check-text span {
  background-color: var(--second-button-color);
  border: none;
}

.modal-form__wrap-icon {
  position: absolute;
  transform: translateY(50%);
  left: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__wrap {
  position: relative;
}

.modal-comment__icon-check {
  fill: var(--first-button-color);
}

.usage-policy {
  color: var(--fourth-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: underline;
}

/*--footer-subscription--*/
.subscription {
  margin: 72px 0px 0px 93px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription {
    margin-top: 60px;
    margin-left: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}

.subscription .subscription__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription .subscription__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription .subscription__title {
    text-align: center;
  }
}

.subscription .subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription .subscription__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription .subscription__input {
    margin-bottom: 20px;
    width: 450px;
  }
}

.subscription .subscription__button {
  min-height: 50px;
  width: 200px;
  background-color: var(--second-button-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  color: var(--first-button-color);
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  margin-left: 12px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription .subscription__button {
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription .subscription__button {
    margin: auto;
  }
}

.subscription .subscription__buttom-icon {
  fill: currentColor;
  margin-left: 10px;
}

.subscription .subscription__contaner {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription .subscription__contaner {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription .subscription__contaner {
    display: block;
  }
}

:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;
  --first-text-color: #ffffff;
  --second-text-color: #2121ss1;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", Roboto;
}

p, a, h1, h2, h3, h4, h5 {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header .header__navigation, .header .header-connect__link, .close-menu-btn, .hero .hero__button, .about .about-list__icon, .work .work-list__item .work-list__box, .command .command-list-social__link, .clients .clients-social-list__link, .footer .footer-list__link, .modal__close, .modal__button, .modal-comment__check-text, .modal-comment__check-text span, .subscription .subscription__button {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */