ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  
  }
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    
    }
  
  body {
    font-family: "Roboto", Roboto;
  }
  
  p, a, h1, h2, h3, h4, h5 {
    margin: 0;
    text-decoration: none;
    
  }
 