:root {
    --main-title-color: #ffffff;
    --second-title-color: #2f303a;
    --third-title-color: #e5e5e5;
    --fourth-title-color: #f5f4fa;
    --first-text-color: #ffffff;
    --second-text-color: #2121ss1;
    --third-text-color: #757575;
    --fourth-text-color: #2196f3;
    --first-button-color: #ffffff;
    --second-button-color: #2196f3;
    --header-text-color: #212121;
    --header-link-color: #757575;
    --accent-color: #2196f3;
  }
  
  